* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(37, 65, 19);
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: #678d4e;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

header h1 {
    font-family: cursive;
    font-weight: bold;
    font-size: 34px;
    color: rgb(34, 69, 11);
    margin: 0;
    align-items: center;
    padding: 5px;

}

header a {
    text-decoration: none;
    color: rgb(37, 65, 19);

}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 18px;
    text-decoration: underline;
}

/* HEADER / NAVBAR STYLES END */


/* HERO STYLES START */

.hero {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url("../images/hero-bg.png");
    justify-content: right;
}

.hero h2 {
    background-color: #ffd700c2;
    padding: 10px;
    width: 25%;
    margin-top: 10%;
    text-align: center;
    margin-right: 6%;
    margin-bottom: 0;
}

/* HERO STYLES END */


/* ABOUT ME STYLES START */

.about-me p {
    margin: 3.5%;
    color: rgb(34, 69, 11);
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 10px;
    text-align: center;
}

.about-me h2 {
    font-style: normal;
    font-size: 35px;
    color: rgb(34, 69, 11);
    width: 90%;
    text-align: center;
    margin: 3.5%;
    align-items: center;
}

.round-img {
    margin-top: 3.5%;
    max-width: 100%;
    height: auto;
    flex: 1;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-bottom: 10px;
    padding-left: 20px;
}

/* ABOUT ME STYLES END */


/* MY WORK STYLES START */

.col-2 h2 {
    text-align: center;
}

.round-img {
    max-width: 150px;
}

.my-imgs {
    width: 100%;
}

.my-col {
    position: relative !important;
}

/* MY WORK STYLES END */


/* CONTACT ME STYLES START */

.contact-me h2 {
    background-color: #ffd900bf;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10px;

}

.contact-me ul {
    background-color: #ffd900bf;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
}

.contact-me ul li a {
    padding: 35px;
    font-size: 24px;
    text-decoration: none;
}

.contact-me ul li a:hover {
    text-shadow: 0 0 20px;
}

/* CONTACT ME STYLES END */


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .about-me {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
    }
}